In [10]:
import json 
import pandas as pd 
import numpy as np

In [18]:
file_dir = '../Resource/'
f'{file_dir}wikipedia-movies.json'

'../Resource/wikipedia-movies.json'

## EXTRACT

> load josn file -- into list of dicitonaries

In [19]:
with open(f'{file_dir}wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [20]:
len(wiki_movies_raw)

7311

In [21]:
wiki_movies_raw[0].keys()

dict_keys(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by', 'Screenplay by', 'Story by', 'Based on', 'Starring', 'Narrated by', 'Music by', 'Cinematography', 'Edited by', 'Productioncompany ', 'Distributed by', 'Release date', 'Running time', 'Country', 'Language', 'Budget', 'Box office'])

In [22]:
wiki_movies_raw[3609].keys()

dict_keys(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by', 'Written by', 'Starring', 'Distributed by', 'Release date', 'Running time', 'Language', 'Box office'])

In [23]:
wiki_movies_raw[3609]

{'url': 'https://en.wikipedia.org/wiki/Book_of_Love_(2004_film)',
 'year': 2004,
 'imdb_link': 'https://www.imdb.com/title/tt0376006/',
 'title': 'Book of Love',
 'Directed by': 'Alan Brown',
 'Produced by': 'Robert Ahrens',
 'Written by': 'Alan Brown',
 'Starring': ["Frances O'Connor",
  'Bryce Dallas Howard',
  'Simon Baker',
  'Gregory Smith'],
 'Distributed by': 'Sundance',
 'Release date': ['January 18, 2004', '(', '2004-01-18', ')'],
 'Running time': '83 min',
 'Language': 'English',
 'Box office': '$1,382,259'}

In [24]:
wiki_movies_raw[-5].keys()

dict_keys(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by', 'Screenplay by', 'Based on', 'Starring', 'Music by', 'Cinematography', 'Edited by', 'Productioncompanies ', 'Distributed by', 'Release date', 'Running time', 'Country', 'Language', 'Budget', 'Box office'])

In [25]:
wiki_movies_raw[-5]

{'url': 'https://en.wikipedia.org/wiki/Holmes_%26_Watson',
 'year': 2018,
 'imdb_link': 'https://www.imdb.com/title/tt1255919/',
 'title': 'Holmes & Watson',
 'Directed by': 'Etan Cohen',
 'Produced by': ['Will Ferrell',
  'Adam McKay',
  'Jimmy Miller',
  'Clayton Townsend'],
 'Screenplay by': 'Etan Cohen',
 'Based on': ['Sherlock Holmes',
  'and',
  'Dr. Watson',
  'by',
  'Sir Arthur Conan Doyle'],
 'Starring': ['Will Ferrell',
  'John C. Reilly',
  'Rebecca Hall',
  'Rob Brydon',
  'Steve Coogan',
  'Ralph Fiennes'],
 'Music by': 'Mark Mothersbaugh',
 'Cinematography': 'Oliver Wood',
 'Edited by': 'Dean Zimmerman',
 'Productioncompanies ': ['Columbia Pictures',
  'Gary Sanchez Productions',
  'Mosaic Media Group',
  'Mimran Schur Pictures'],
 'Distributed by': 'Sony Pictures Releasing',
 'Release date': ['December 25, 2018',
  '(',
  '2018-12-25',
  ')',
  '(United States)'],
 'Running time': '90 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$42 million',
 'Box office': '$41.9 million'}

In [43]:
kaggle_metadata = pd.read_csv('C:/Users/Donne/OneDrive/UT_Data_Analytics/Analysis Projects/Mod8_Movies_ETL/Resource/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('C:/Users/Donne/OneDrive/UT_Data_Analytics/Analysis Projects/Mod8_Movies_ETL/Resource/ratings_small.csv')

In [50]:
kaggle_metadata.shape
ratings.shape

(45466, 24)

(100004, 4)

In [45]:
kaggle_metadata.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
29124,False,NaN,0,[],http://www.room514.com/,138767,tt2205501,en,Heder 514,"A young, idealistic female Israeli military in...",...,2012-10-12,0.0,90.0,"[{'iso_639_1': 'he', 'name': 'עִבְרִית'}]",Released,NaN,Room 514,False,7.0,1.0
2076,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,30159,tt0045897,en,I Confess,"Unable, due to the seal of the confessional, t...",...,1953-02-28,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Crushed lips don’t talk.,I Confess,False,7.0,82.0
3052,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,26578,tt0087231,en,The Falcon and the Snowman,The true story of a disillusioned military con...,...,1985-01-25,0.0,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They came from the best of families. And they ...,The Falcon and the Snowman,False,6.5,43.0
2949,False,NaN,25485000,"[{'id': 36, 'name': 'History'}, {'id': 28, 'na...",NaN,11165,tt0066473,en,Tora! Tora! Tora!,"In the summer of 1941, the United States and J...",...,1970-01-26,29548291.0,144.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The incredible attack on Pearl Harbor.,Tora! Tora! Tora!,False,6.9,150.0
27225,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,95137,tt0033596,en,The Feminine Touch,A professor (Don Ameche) and his wife (Rosalin...,...,1941-10-01,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,If your sweetheart isn't jealous it's not l-o-...,The Feminine Touch,False,5.0,2.0

In [47]:
ratings.sample(5)

       userId  movieId  rating   timestamp
11223      73    27706     3.0  1255596884
88414     587     3168     4.0  1123001592
7371       47      588     4.0   832228859
65538     466     2395     4.0   944979809
8673       56    89759     4.0  1467003383

> Transform